/* Add your own styles */

body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    text-align: center;
    margin-bottom: 20px;
}
header h1 {
    color: white;
    padding: 20px;
}

h1 {
   border-bottom: 2px solid darkgrey;
    padding-bottom: 10px;
}

#controls {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label{
    font-weight: bold;
    margin-right: 10px;
}

input[type="Search"] {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1px, solid, white;
}

th{
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
}
td{
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background-color: #f5f5f5;
}